html {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    height: 100%;
}

body {
    width: 90%;
    height: 100%;;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1, h2 {
    color: whitesmoke;
}

header {
   /*  background-color: white; */
    width:100%;
    height:23%;
    display: flex;
    align-items: left;
    justify-content: flex-start;
    flex-direction: row;

}

.calendar {
    background-color: hsla(27, 87%, 68%, 1);
}

.food {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
}
.palette {
    display: flex;
    flex-direction: row;
    width:90%;
}

#div1 {
    background-color: hsla(190, 44%, 24%, 1);
}
#div2 {
    background-color: hsla(178, 47%, 30%, 1);
}
#div3 {
    background-color: hsla(174, 49%, 39%, 1);
}
#div4 {
    background-color: hsla(44, 72%, 66%, 1);
}
#div5 {
    background-color: hsla(27, 87%, 68%, 1);
}
#div6 {
    background-color: hsla(18, 79%, 64%, 1);
}
#div7 {
    background-color: hsla(11, 75%, 60%, 1);
}

.monday {
    background-color: hsla(190, 44%, 6%, 1);
}
.tuesday {
    background-color: hsla(178, 47%, 12%, 1);
}
.wednesday {
    background-color: hsla(174, 49%, 21%, 1);
}
.thursday {
    background-color: hsla(44, 72%, 46%, 1);
}
.friday {
    background-color: hsla(27, 87%, 50%, 1); 
}
.saturday {
    background-color: hsla(18, 79%, 46%, 1);
}
.sunday {
    background-color: hsla(11, 75%, 42%, 1);
}


.bubble {
    display: flex;
    width: 82%;
    height: 74%;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    align-items: center;
    margin: 5% 5%;
}


.setup {
    display: flex;
    align-items: center;    
}

.setup h1 {
    background-color: hsla(178, 47%, 30%, 1);
    padding-right: 100px;
    margin-right: 0px;
}

.icon {
    color: hsla(178, 47%, 30%, 1);
    padding: 5px;
    margin: 5px;;
    border-radius:  50%;
    border: 2px solid hsla(178, 47%, 30%, 1);
}

.allergy-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
}

.allergens {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.allergens h2 {
  background-color: hsla(178, 47%, 30%, 1);
}

.allergen {
    display: flex;
    align-content: center;
    justify-content: center;
   
}

.allergy-list li {
    height: 50%;
}

main {
    width: 100%;
    height: 60%;
}

.weekly-calendar {
    height: 80%;
}

.day {
    /* background-color: rgba(38, 70, 83, 0.2); */
    border-radius: 15px;
    text-align: center;
    width: 113%;
    color: whitesmoke;
}

.weekday {
    width:13%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    border-radius: 15px 15px 0 0;
}

.weekday-list {
    height:100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    gap: 20px;
    margin-top: 17px;
}

.finalize {
    display: flex;
    justify-content: end;
    margin-top: 17px;
}

