/*========================Desktop styles========================*/
@media screen and (min-width: 1025px) {
  .sub-heading {
    margin: 1.5rem 0;
	font-size: 2.1rem;
  }
  /*===Allergens======================================================================================*/
  .allergens {
    margin-bottom: 0.5rem;
  }

  /*===Selectors======================================================================================*/
  .selection {
    flex-direction: row;
    margin-bottom: 1.5rem;
  }

  /*===Calendar======================================================================================*/
  .weekly-calendar {
    min-height: 320px;
    margin: 0;
  }

  .weekday-list {
    gap: 0.5rem;
    flex-direction: row;
    margin-top: 0;
  }

  .weekday {
    height: auto;
    gap: 2%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 1.5rem;
  }

  .box {
    align-items: flex-start;
    height: auto;
	margin-bottom: 10px;
  }

  .dish-name {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0;
  }

  .dish-ingredients {
    flex-direction: column;
    margin: 1rem 0;
    font-weight: 500;
	  font-size: 1.2rem;
    gap: 0rem;
  }

}
