/*=====================Tablet styles=============================*/
@media screen and (min-width: 710px) and (max-width: 1024px) {
	/*===Header Styles======================================================================================*/
	.title h1 {
		font-size: 4rem;
	}

	/*===Allergens======================================================================================*/
	.allergens h2 {
		font-size: 2.5rem;
	}

	.allergen p {
		font-size: 1.4em;
	}

	.checkbox {
		width: 25px;
		height: 25px;
	}

	/*===Selectors======================================================================================*/
	.selection {
		flex-direction: row;
	}

	.calendarStartDatePicker {
<<<<<<< HEAD
		
=======
>>>>>>> 7b663598a9ceb0d2bf905f956e79a06239c8f3d1
		font-weight: 500;
	}

	/*===Calendar======================================================================================*/
	.my-weekly-menu p {
		font-size: 2.5em;
	}

	.box {
		font-weight: 500;
		font-size: 1.2em;
	}

	.bubble {
		height: 100%;
		padding-left: 0px;
	}

	.foodinfo {
		padding: 0em 0em 0.2em 0em;
	}

	.dayname {
		font-size: 2em;
	}

	.daycalories {
		font-size: 1.6em;
	}

	.dayingredients {
		font-size: 1.4em;
		font-weight: 500;
	}
}
