/*=====================Tablet styles=============================*/
@media screen and (min-width: 710px) and (max-width: 1024px) {

  .bubble { 
      height: 100%;
      padding-left: 0px;
  }

  #dayname {
      font-size: 2.0em;
  }
  
  #daycalories {
      font-size: 1.6em;
  }
  
  #dayingredients {
      font-size: 1.4em;
      font-weight: 500;
  }

  .foodinfo {
      padding: 0em 0em 0.2em 0em;
  }    

  .weekday {
      padding: 10px 0 10px 0;
  }

  .my-weekly-menu p {
      font-size: 2.5em;
  }

  .box {
      font-weight: 500;
      font-size: 1.2em;
  }

  .allergen p{
      font-size: 1.4em;
  }

  .checkbox {
      width: 25px;
      height: 25px;
  }

  .allergen input {
      margin: 21px 2px 0em 0em;
  }

  .allergens h2 {
      font-size: 2.5rem;
  }

  .setup h1 {
      font-size: 4rem;
  }

  #calendarStartDatePicker {
      font-size: 25px;
  }

  .selection {
      flex-direction: row;
  }

}